<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/ASUS/Maven/src/test/java/com/automationexexercise">
        <classes>
            <class name="com.automationexexercise.TestCase13">
                <methods>
                    <include name="verifyHomePageVisible"/>
                    <include name="verifyProductisDisplayedInCartTrue"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>